@media (max-width: 900px) 
    html
        font-size 14px

    .section
        margin-right 1rem

    for cols in (1..numcols)
        .span-{cols}
            position relative
            width (cols/numcols) * 100%
            .align-corners > & + [class*="span-"]
                margin-left (cols/numcols) * 100%
                &.mobile-full
                    width 100%
                    margin-left 0

            &.mobile-full
                width 100%
                margin-left 0

    .box
        &.title
            width 100%
            text-align left


    // set up the grid
    numcols = 12
    for cols in (1..numcols)
        .mobile-{cols}
            position relative
            width (cols/numcols) * 100% !important


    .modal
        position: fixed;
        height 100%
        width 100%
        top: 0
        left: 0
        overflow: hidden;
        transform: none;

        .modal-content
            .modal-title
                font-size 1.8rem

            .register-form
                .input-container
                    width: 80%
