@import 'nib'
@import _settings

body
    font-family 'DIN'
    font-weight: 200
    line-height 1.3
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size base-font-size

input, textarea
    padding 10px
    width 500px
    max-width 100%
    box-sizing border-box
    border: 1px solid lighten(colors.slate, 50%)
    outline: none
    font-family inherit
    font-size: sizes.base
    font-weight 200
    margin-top 10px

    &:focus
        border: 1px solid colors.blue
        box-shadow: 0 0 5px grey1

.button
    text-transform: uppercase
    background: rgba(black, .2)
    color: white
    padding 8px 18px
    display: inline-block
    cursor: pointer
    transition: background .2s
    margin: auto;
    &:hover
        background: rgba(black, .5)
    &.large
        padding .75rem 1.68rem
        font-size: sizes.large
        border-radius: 28px
        margin-right: 15%
        margin-left: 15%
    &.disabled
        pointer-events: none
        cursor: default
        opacity: 0.4
    &.blue
        border: none
        background: rgba(colors.blue, 1.0)
        color: white
        &:hover
            background: rgba(colors.blue, 0.7)

.toggle-group
    display inline-block
    margin-right 20px
    margin-top 10px
    .toggle-button
        text-transform: uppercase
        background: lighten(colors.slate, 10%)
        color white
        padding 8px 18px
        display inline-block
        cursor pointer
        transition background .2s
        font-size: sizes.medium
        transition opacity 1s
        transition background 0.3s
        &:hover
            background: darken(colors.blue, 20%)
        &.selected
            background: darken(colors.blue, 20%)
        &.tshirt-size
            opacity 0
        &.tshirt-type.selected ~ .tshirt-size
            opacity 1

span.tiny
    color: lighten(colors.slate, 40%)
    font-size: sizes.small

.error-container
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    right 0
    bottom 0
    background: colors.slate
    color white
    z-index 100
    display none
    &.shown
        display block
    .centered
        position absolute;
        width 500px 
        max-width 500px
        height 200px 
        z-index 15 
        top 50% 
        left 50% 
        margin -100px 0 0 -200px 
        .error-title
            font-weight 200
            font-size 2rem
        .email-link
            text-decoration none
            color: colors.blue
            padding-bottom 2px
            &:hover
                border-bottom: 1px solid colors.blue


.content
    display block
    max-width 600px
    margin auto
    margin-bottom 100px
    .title
        font-size: 2rem
        color: colors.slate
        width 100%
        text-align center
        font-weight 200
    form.complete
        display block
        margin auto
        .input-container
            margin 25px auto
            transition opacity 1s
            i.status
                position relative
                left -35px
                top 9px
                font-size 35px

                &.pe-7s-check
                    color: darken(green, 20%)
                &.pe-7s-close-circle
                    color darken(red, 20%)

            .input-label
                color: darken(colors.blue, 20%)
                font-weight 400
            &.half
                margin 0 auto
                display inline-block
                position relative
                width 48%
                &.half-sm
                    width 30%
                    //top 5px // Not very clean, but a hack for now
                    margin-left 3%
                &.half-lg
                    width 59%
                i.status
                    position absolute
                    top 32px
                    bottom 2px
                    left 144px

            &.hidden
                display none
                opacity 0
        .submit-button-container
            display block
            width 100%
            text-align center
        .error-messages
            color red
            margin 15px auto
            text-align center
            .message
                width 100%
                text-align center
